@charset "UTF-8";
html {
  font-size: 100px;
}

body {
  font-size: 15px;
  border: 0px;
}

* {
  font-family: "微软雅黑";
  box-sizing: border-box;
  outline: none;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'iconfont';
}

.iconfont {
  font-family: 'iconfont';
}

ul, li, ol, a {
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 85.33333px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 96px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 109.86667px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 110.4px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 160px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 170.66667px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 204.8px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 213.33333px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 341.33333px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 384px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 426.66667px;
  }
}

.outsite-c {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.outsite-c .a {
  width: 1.6rem;
  height: 1.6rem;
  background: #FFCB0C;
  position: absolute;
  top: -0.7rem;
  left: -0.5;
  transform: rotate(45deg);
  z-index: 4;
}

.outsite-c .a .wen {
  color: #fff;
  position: fixed;
  top: 0.9rem;
  left: 0.5rem;
  font-size: 25px;
  transform: rotate(-45deg);
}

.outsite-c .b {
  width: 1rem;
  height: 0.4rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
  z-index: 500;
}

.outsite-c .b .con-a {
  width: 50%;
  height: 100%;
  float: left;
  background: #FFCB0C;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
}

.outsite-c .b .iconfont {
  background: #5F6062;
  color: #fff;
}

.outsite-c .b .cehua-a {
  width: 2rem;
  height: 3.6rem;
  background: #5F6062;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  opacity: 0;
  transform: translateX(2rem);
  transition: all 1s;
}

.outsite-c .b .cehua-a .list-a {
  width: 100%;
  height: 0.6rem;
  border-bottom: 1px solid #6C6C6C;
  line-height: 0.6rem;
}

.outsite-c .b .cehua-a .list-a .iconfont {
  color: #fff;
  float: left;
  margin-left: 0.25rem;
  font-size: 25px;
}

.outsite-c .b .cehua-a .list-a .list-b {
  float: left;
  color: #fff;
  margin-left: 0.2rem;
  font-size: 18px;
}

.outsite-c .nav {
  width: 100%;
  height: 0.4rem;
  background: rgba(102, 102, 102, 0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.outsite-c .nav .footer {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 0.4rem;
}

.outsite-c .nav .footer .aaa {
  color: #fff;
}

.outsite-c .nav .footer .iconfont {
  color: #fff;
  font-size: 25px;
  display: none;
}

@keyframes dong-a {
  from {
    opacity: 0;
    right: -1rem;
  }
  to {
    opacity: 1;
    right: 0.1rem;
  }
}

.outsite-c .phone {
  width: 0.5rem;
  height: 1.5rem;
  position: fixed;
  right: 0.1rem;
  bottom: 2rem;
  color: #FFCB0C;
  animation: dong-a 3s;
}

.outsite-c .phone .iconfont {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  font-size: 50px;
  margin-top: 0.2rem;
}

.outsite-c .header {
  width: 100%;
  height: 2rem;
  position: relative;
}

.outsite-c .header .header-a {
  width: 100%;
  height: 100%;
}

.outsite-c .header .header-b {
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  color: #fff;
  font-size: 20px;
  z-index: 100;
}

.outsite-c .header .header-c {
  position: absolute;
  left: 0.8rem;
  bottom: 0.5rem;
  color: #fff;
}

.outsite-c .video {
  width: 94%;
  height: 2rem;
  margin-top: 0.2rem;
  margin-left: 3%;
  overflow: hidden;
}

.outsite-c .video .video-a {
  width: 100%;
  height: 100%;
}

.outsite-c .list {
  width: 100%;
  height: 1.2rem;
  margin-top: 0.3rem;
  border-top: 1px solid #ccc;
}

.outsite-c .list .list-a {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.outsite-c .list .list-a .list-aa {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 3%;
}

.outsite-c .list .list-b {
  float: left;
  width: 50%;
  height: 50%;
}

.outsite-c .list .list-b .list-bb {
  color: #000;
  font-size: 15px;
  margin-top: 0.38rem;
  line-height: 25px;
}
